.main {

}

.messageItem {
  display: flex;
  flex-direction: row;
}

.p {
  display: flex;
  justify-content: flex-start;
  max-width: 550px;
  word-break: break-word;
}

.pReverse {
  display: flex;
  justify-content: flex-end;
  max-width: 550px;
  min-width: 10px;
  word-break: break-word;
}

.messageText {
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 10px;
}

.reverseMessageText {
  background-color: #683db8;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

.reverseMessage {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15px;
}

.reverseMessageItem {
  display: flex;
  max-width: 400px;
}

.name {
  color: white;
  font-weight: bolder;
  margin-right: 10px;
}

.date {
  font-weight: normal;
  color: white;
}

.span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.reverseName {
  font-weight: bolder;
  color: white;
}

.reverseDate {
  color: white;
  margin-right: 10px;
  font-weight: normal;
}

.reverseSpan {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
}

.reverseItem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 10px;
}

.message {
  margin-top: 10px;
}

.img {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 24px;
  user-select: none;
}

.empty {
  position: absolute;
  margin-left: 110px;
  top: 50%;
  left: 50%;
}
