.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 35px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  font-size: 38px;
  text-decoration: none;
  user-select: none;
}

.p {
  margin-top: 5px;
  margin-bottom: 100px;
  cursor: pointer;
}