.main {
  width: 1600px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
}

.header {
  height: 110px;
  border-radius: 3px;
}

.button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 26px;
}

.button:hover {
  background-color: #683db8;
  color: white;
  cursor: pointer;
  transition: 300ms;
}

.item {
  display: flex;
  flex-direction: row;
}

.block {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 50px;
  height: 800px;
  border-radius: 0 0 6px 0;
  box-shadow: 0 0 3px gray;
}

.setStatus {
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  border: none;
  padding: 4px;
  color: gray;
}

.status {
  margin-left: 6px;
}

.setStatus:hover {
  border-radius: 6px;
  background-color: #683db8;
  cursor: pointer;
  transition: 300ms;
}

.id {
  display: flex;
  margin-right: 180px;
  margin-top: 60px;
  color: white;
}

.popupMain {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 80px;
  border-radius: 6px;
  background-color: #683db8;
}

.popupInput {
}

.popupButton {
  cursor: pointer;
  margin-top: 20px;
  width: 120px;
  height: 40px;
  border: none;
  color: black;
  border-radius: 6px;
  background-color: white;
  font-size: 18px;
}

.popupButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 600ms;
}

.span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 32px;
}

.name {
  color: white;
  font-weight: bolder;
  margin-right: 10px;
}

.img {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 120px;
  font-size: 38px;
  width: 120px;
  user-select: none;
}

.nameInfo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.p {
  max-width: 1100px;
  color: white;
  font-size: 16px;
}