.main {
  display: grid;
  grid-template-columns: 1fr 1fr 18fr 1fr;
  box-shadow: 0 0 3px gray;
}

.name {
  color: white;
  margin-top: 45px;
}

.exit {
  color: white;
  margin: 10px 34px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.exit:hover {
  opacity: 0.5;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: white;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 78px;
  height: 78px;
  user-select: none;
  cursor: pointer;
}